* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #f0c2c2;
}
a{
  text-decoration: none;
}
nav {
  background-color: #775e5e;
  color: black;
  padding: 20px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 10px;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 40px;
  color: #191212;
  margin-top: 80px;
  padding: 50px;
  text-align: center;
}
.text1 {
  font-size: 20px;
  color: #191212;
  margin-top: 80px;
  padding: 50px;
  text-align: center;
}
.text2 {
  font-size: 20px;
  color: #191212;
  margin-top: 80px;
  padding: 50px;
  text-align: justify;
}
.text3 {
  font-size: 20px;
  color: #191212;
  margin-top: 80px;
  padding: 50px;
  text-align: left;
}
